<div class="jumbotron text-center">
  <h1>Welcome to the Ars Technica news scraper</h1>
  <p>Click the button to show articles from Ars Technica.  You can also leave comments by clicking on an article</p>
  <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Start scrape</a></p>
</div>

<div class = "container">

{{#each article}}
<div class="panel panel-default">
  <div class="panel-heading">Panel heading without title</div>
  <div class="panel-body">
    Panel content
  </div>
</div>
{{/each}}

</div>