<div class = "container">
	<div class="alert alert-success" role="alert">
		<p>The scrape was successful! <a href="/articles" class="alert-link">Click here to view the articles and leave notes!</a></p>
	</div>
</div>